# Import SQL script of opportunity youth to pandas

## Import libraty

In [98]:
from sqlalchemy import create_engine
import pandas as pd

## Create engine

In [90]:
engine = create_engine("postgresql:///opportunity_youth")

## Read four SQL(three age range and total)

In [91]:
sqlpath1618 = 'sql/oy_16_18.sql'
scriptFile1618 = open(sqlpath1618,'r')
script1618 = scriptFile1618.read()
df1618 = pd.read_sql(script1618, con = engine)

sqlpath1921 = 'sql/oy_19_21.sql'
scriptFile1921 = open(sqlpath1921,'r')
script1921 = scriptFile1921.read()
df1921 = pd.read_sql(script1921, con = engine)

sqlpath2224 = 'sql/oy_22_24.sql'
scriptFile2224 = open(sqlpath2224,'r')
script2224 = scriptFile2224.read()
df2224 = pd.read_sql(script2224, con = engine)

sqlpath_total = 'sql/oy_total.sql'
scriptFile_total = open(sqlpath_total,'r')
script_total = scriptFile_total.read()
df_total = pd.read_sql(script_total, con = engine)

## Combine four dataframe using pd.concat

In [99]:
pd_oy = pd.concat([df1921.iloc[:,0:1], df1618.iloc[:,1:], df1921.iloc[:,1:], df2224.iloc[:,1:], df_total.iloc[:,1:]], axis=1)

## Fill N/A value 0

In [100]:
pd_oy = pd_oy.fillna(0)

In [88]:
pd_oy

,degree,popluation_16_18,ratio_16_18,popluation_19_21,ratio_19_21,popluation_22_24,ratio_22_24,popluation_total,ratio_total
0,0_No diploma,1083.0,54.0,1210.0,28.0,1488.0,26.0,3781.0,31.0
1,1_HS or GED,790.0,39.0,2312.0,54.0,2284.0,40.0,5386.0,45.0
2,2_Some college,143.0,7.0,712.0,16.0,1275.0,22.0,2130.0,18.0
3,3_Degree,0.0,0.0,86.0,2.0,648.0,11.0,734.0,6.0